@import 'src/scss/variables/colors-theme-primary';

.pagination {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &_change {
    margin: 0 1rem;
    color: $dark;
    cursor: pointer;
    user-select: none;

    i {
      font-size: 1.25rem;
      margin: 0 0.5rem;
    }

    span {
      font-size: 1.25rem;
    }

    p {
      font-size: 1.25rem;
    }

    &:hover {
      color: $gray;
    }
  }
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  margin-bottom: 1rem;

  h1, p {
    color: $dark;
  }

  p {
    font-size: 1.5rem;
    letter-spacing: 2px;
  }
}

@media only screen and (max-width: 600px) {
  .pagination {
    &_change {
      span {
        display: none;
      }
    }
  }
}
