<div class="footer">
  <a class="footer_link" routerLink="/privacy">Politica de privacidad</a>
  <a class="footer_link" routerLink="/terms">Términos y condiciones</a>
  <div class="footer_logo">
    <img routerLink="/" src="assets/test_logo2.png" alt="shinsekai logo">
  </div>
  <div class="footer_wa">
    <img src="assets/icons/whatsapp.svg" alt="whatsapp logo">
    <p>442 285 7499</p>
  </div>
  <div class="footer_social">
    <a href="https://www.facebook.com/shinsekaitiendadefiguras/" target="_blank">
      <img src="assets/icons/facebook.svg" alt="fb logo">
    </a>
    <a href="https://www.instagram.com/shinsekaitf/?hl=es-la" target="_blank">
      <img src="assets/icons/instagram.svg" alt="instagram logo">
    </a>
    <a href="https://youtube.com/channel/UCY1_hXSRk813NGDc2f9NMwg" target="_blank">
      <img class="last" src="assets/icons/youtube.svg" alt="youtube logo">
    </a>
  </div>
</div>
