<div class="row mb-5">
  <div class="col-3 logo">
    <img (click)="goHome()" src="assets/test_logo.png" alt="logo">
  </div>
  <div class="col-6 search">
    <input [(ngModel)]="search" type="search">
    <div (click)="navigateSearch()" class="search_icon">
      <i class="fas fa-search"></i>
    </div>
  </div>
  <div class="col-3 options">
    <div (click)="goToAccount()" class="options_button">
      <img class="sh-icon" src="assets/icons/usuario.svg" alt="user">
      {{accountText}}
    </div>
    <div *ngIf="showAdmin" (click)="goToAdminPanel()" class="options_button mb-lg-0 mt-lg-0 mb-2 mt-2">
      Admin Panel
    </div>
    <div (click)="toggleCart()" class="options_shopcart">
      <img class="sh-icon" src="assets/icons/carrito-de-compras.svg" alt="cart">
    </div>
  </div>
</div>
