@import "src/scss/variables/colors-theme-primary";

.logo, .search, .options {
  height: 8rem;
  display: flex;
  align-items: center;
}

.logo {
  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.search {
  input, &_icon {
    height: 4rem;
    border-radius: 0.875rem;
  }

  input {
    width: 100%;
    padding: 0 1.5rem;
    font-size: 2rem;
    border: none;
    background: $light;
    outline: none;

    &:focus {
      border-color: $dark;
    }
  }

  &_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color-primary;
    width: 4.5rem;
    cursor: pointer;
    box-shadow: 1px 4px 2px $dark;

    &:active {
      box-shadow: none;
    }

    i {
      font-size: 1.8rem;
      color: white;
    }
  }
}

.options {
  justify-content: space-around;

  &_button {
    background: $color-secondary;
    color: $color-white;
    border-radius: 0.2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 3rem;
    box-shadow: 1px 4px 2px $dark;
    cursor: pointer;
    user-select: none;
    width: 100%;
    margin-right: 0.5rem;
    padding: 0 0.5rem;
    max-width: 10rem;

    &:active {
      box-shadow: none;
    }

    i {
      font-size: 1.5rem;
      margin-right: 0.5rem;
    }
  }

  &_shopcart {
    cursor: pointer;

    i {
      font-size: 2rem;
    }
  }
}

@media only screen and (max-width: 991px) {
  .options {
    flex-wrap: wrap;
  }
}
