<app-slide [show]="showSlide" (slideClose)="hideSlide($event)"></app-slide>

<div class="row mb-lg-5">
  <div class="col-lg-3 col-md-3 col-12 logo">
    <img (click)="goHome()" src="assets/test_logo.png" alt="logo">
  </div>
  <div *ngIf="!justLogo" class="col-lg-6 col-md-6 col-12 search">
    <input (keyup)="navigateSearch($event)" [(ngModel)]="search" type="search">
    <div (click)="navigateSearch()" class="search_icon">
      <img class="sh-icon" src="assets/icons/busquedad.svg" alt="busqueda icono">
    </div>
  </div>
  <div *ngIf="!justLogo" class="col-lg-3 col-md-2 col-12 options">
    <div (click)="goToAccount()" class="options_button">
      <img class="sh-icon" src="assets/icons/usuario.svg" alt="user">
      {{accountText}}
    </div>
    <div *ngIf="showAdmin" (click)="goToAdminPanel()" class="options_button mb-lg-0 mt-lg-0 mb-2 mt-2">
      Admin Panel
    </div>
    <div (click)="toggleCart()" class="options_shopcart">
      <div *ngIf="articleCount > 0" class="options_shopcart_badge">
        {{articleCount}}
      </div>
      <img class="sh-icon" src="assets/icons/carrito-de-compras.svg" alt="cart">
    </div>
  </div>
</div>
