<div class="row">
  <div class="col-3 logo"></div>
  <div class="col-6 search">
    <input type="search">
    <div class="search_icon"></div>
  </div>
  <div class="col-3 options">
    <div (click)="emitAccountPress()" class="options_button">
      <i class="fas fa-user"></i>
      {{accountText}}
    </div>
    <div *ngIf="showAdmin" (click)="emitAdminPress()" class="options_button">
      Admin Panel
    </div>
    <div (click)="emitCartPress()" class="options_shopcart">
      <i class="fas fa-shopping-cart"></i>
    </div>
  </div>
</div>
