<div class="container-fluid">
  <div class="wrapper">
    <app-header [user]="user"
                [showAdmin]="user?.admin || false"
                [accountText]="user?.id ? 'Mi Cuenta' : 'Inicia Sesión'"></app-header>
    <div class="row">

      <!--      FIRST COLUMN-->
      <div class="col-lg-3 col-12 order-lg-0 order-1">
        <app-left-bar></app-left-bar>
      </div>

      <!--      Second COLUMN-->
      <div class="col-lg-6 mb-lg-5 col-12 order-lg-1 order-0 mb-5">
        <div *ngIf="carousels.length > 0" id="carousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div *ngFor="let c of carousels; let idx = index"
                 class="carousel-item"
                 [class.active]="idx === 0"
                 data-bs-interval="4000"
                 (click)="navigateTo(c?.redirectPath)">
              <img [src]="c.imagePath" class="w-100" alt="promotion">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carousel"
                  data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carousel"
                  data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <div *ngIf="articlesBySales.length > 0" class="carousel_custom">
          <h4>Las más vendidas</h4>
          <app-carousel [articles]="articlesBySales"></app-carousel>
        </div>

        <div class="article-box">
          <div class="article-box_tabs">
            <div (click)="changeTab(1)" class="article-box_tabs_item" [class.selected]="selectedTab === 1">Cátalogo
            </div>
            <div (click)="changeTab(2)" class="article-box_tabs_item" [class.selected]="selectedTab === 2">Nuevas
              Figuras
            </div>
          </div>

          <div class="article-box_prev">
            <ng-container *ngIf="selectedTab === 1">
              <div class="row">
                <div class="article-box_prev_item col-6 col-md-4 col-lg-3" *ngFor="let article of articlesBySales">
                  <app-article-prev [price]="article.price || 0"
                                    [discountPrice]="article.discountPrice || 0"
                                    [image]="article.images[0].path || ''"
                                    [name]="article.name"
                                    [stock]="article.stock"
                                    (articleClick)="navigateToArticle(article.id)">
                  </app-article-prev>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="selectedTab === 2">
              <div class="row">
                <div class="article-box_prev_item col-6 col-md-4 col-lg-3" *ngFor="let article of articlesByNew">
                  <app-article-prev
                    [price]="article.price || 0"
                    [discountPrice]="article.discountPrice || 0"
                    [image]="article.images[0].path || ''"
                    [name]="article.name"
                    [stock]="article.stock"
                    (articleClick)="navigateToArticle(article.id)">
                  </app-article-prev>
                </div>
              </div>
            </ng-container>
          </div>

          <button (click)="navigateTo('articles')" class="article-box_btn rounded-pill btn btn-sm btn-primary">
            Ver Más
          </button>
        </div>
      </div>

      <!--      Third COLUMN-->
      <div class="col-lg-3 col-12 order-3">
        <div class="menu">
          <div (click)="navigateTo('help')" class="menu_item">
            <div class="menu_item_btn menu_item_btn--help">
              <img class="sh-icon_lg" src="assets/icons/informacion.svg" alt="help">
            </div>
            <span>Ayuda</span>
          </div>

          <div (click)="navigateTo('articles?promotions=true')" class="menu_item">
            <div class="menu_item_btn menu_item_btn--promo">
              <img class="sh-icon_lg" src="assets/icons/promotions.svg" alt="promo">
            </div>
            <span>Promos</span>
          </div>
        </div>

        <div class="animes">
          <div *ngFor="let promo of rightPromotions" class="animes_item">
            <img (click)="navigateTo(promo?.redirectPath)" [src]="promo?.imagePath" alt="promocion shinsekai">
          </div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>
  </div>
</div>
