@import 'src/scss/variables/colors-theme-primary';

.carousel {
  margin-bottom: 1rem;

  &-item {
    height: 18rem;
    width: 100%;
    cursor: pointer;

    img {
      border-radius: 0.25rem;
      height: 100%;
      object-fit: contain;
    }
  }
}

.article-box {
  box-shadow: 1px 4px 10px $dark;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.25rem;

  &_tabs {
    display: flex;
    color: $dark;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;

    &_item {
      cursor: pointer;
      padding: 0 3rem 0 0.5rem;
      height: fit-content;
      line-height: 1;

      &:last-child {
        margin-right: 0;
      }

      &.selected {
        box-shadow: 1px 4px 10px $dark;
      }
    }
  }

  &_prev {
    padding: 5rem 3rem 0 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;

    &_item {
      margin-bottom: 1.5rem;
    }
  }

  &_btn {
    margin-bottom: 1rem;
    align-self: center;
    margin-top: 1rem;
  }
}

.menu {
  margin-bottom: 1.5rem;
  width: 100%;

  &_item {
    cursor: pointer;
    display: flex;
    align-items: center;
    background: $light;
    box-shadow: 1px 4px 2px $dark;
    width: 100%;
    border-radius: 0.5rem;

    &_btn {
      padding: 1rem;
      box-shadow: 1px 4px 2px $dark;
      border-radius: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;

      &--help {
        background: #8BD91F;
      }

      &--promo {
        background: $color-secondary;
      }
    }

    span {
      margin: auto;
      color: $dark;
      font-size: 1.5rem;
      font-weight: 600;
    }

    &:last-child {
      margin-top: 1rem;
    }
  }
}

.animes {
  width: 100%;

  &_item {
    display: flex;
    width: 100%;
    padding: 1.25rem 1.25rem 0;

    img {
      margin: 0 auto;
      cursor: pointer;
      border-radius: 1rem;
      height: auto;
      max-width: 260px;
      width: 100%;
      object-fit: contain;
    }

    &--left {
      padding: 2.25rem 2.25rem 0;

      img {
        max-width: 218px;
      }
    }
  }
}


