<div class="container-fluid">
  <app-header [justLogo]="true"></app-header>

  <section>
    <h1>Términos y condiciones</h1>
    <ol>
      <li>
        La empresa ha establecido los siguientes Términos y Condiciones en el entendimiento de que se aplican tanto a la
        empresa como a los usuarios, con el entendimiento de que los usuarios se esforzarán por seguirlos lo mejor que
        puedan.
      </li>
      <li>
        Cualquier término o condición adicional o único que pueda publicarse en nuestro sitio, subsitios, a través de
        otros sitios vinculados o mediante comunicación directa de la empresa a los usuarios se considerará como un
        elemento de estas disposiciones. En los casos en que los términos únicos o los términos adicionales difieran de
        los descritos en esta lista de términos y condiciones, se considerará que los términos únicos o adicionales
        tienen
        prioridad.
      </li>
      <li>
        La empresa se reserva el derecho a realizar los cambios que considere necesarios en los términos y condiciones
        sin
        solicitar el consentimiento previo de los usuarios. A partir de ese momento, dichos cambios o adiciones se
        realizan en adelante, los términos y condiciones recientemente actualizados constituirán los términos de uso
        actuales para el sitio y / o el sistema de puntos.
      </li>
      <li>
        La empresa rechaza cualquier responsabilidad por las molestias o pérdidas causadas al usuario por la
        actualización
        de los términos y condiciones.
      </li>
    </ol>
  </section>

  <section>
    <h1>
      Estado y requisitos de los usuarios
    </h1>
    <ol>
      <li>
        Estado de los usuarios <br>
        Los usuarios aceptan su condición de usuarios del sitio y, como tales, acuerdan seguir todos los términos y
        condiciones establecidos en el acuerdo lo mejor que puedan.
      </li>
      <li>
        Uso de este sitio <br>
        Al utilizar este sitio, los usuarios aceptan abstenerse de lo siguiente:
      </li>
    </ol>
    <ul>
      <li>
        (1) Cualquier acción que infrinja los derechos de autor, patentes, marcas comerciales, secretos comerciales u
        otros derechos de propiedad intelectual de este sitio o de cualquier tercero, incluidos los derechos de
        publicidad
        o privacidad;
      </li>
      <li>
        (2) Tomar cualquier acción que pueda causar daños a esta empresa o cualquier tercero asociado;
      </li>
      <li>
        (3) Tomar cualquier acción que interfiera de manera perjudicial, intercepte subrepticiamente o expropie
        cualquier
        sistema, datos o Información; o interferir o intentar interferir con el sitio;
      </li>
      <li>
        (4) Tomar cualquier acción que sea ofensiva para el orden público y la moral;
      </li>
      <li>
        (5) Violar cualquier ley o realizar cualquier acción que pueda conducir a la violación de cualquier ley;
      </li>
      <li>
        (6) Proporcionar información falsa, inexacta o engañosa (incluida la información personal);
      </li>
      <li>
        (7) Utilizar este sitio con fines comerciales sin autorización expresa;
      </li>
      <li>
        (8) Actuar de manera difamatoria, calumniosa, amenazante o acosadora;
      </li>
      <li>
        (9) Distribuir virus o cualquier otra tecnología que pueda dañar este sitio, o los intereses o propiedad de
        otros
        usuarios;
      </li>
      <li>
        (10) Violar cualquier ley, estatuto, ordenanza o reglamentación nacional o internacional;
      </li>
      <li>
        (11) Tomar cualquier otra acción que este sitio pueda considerar inapropiada.
      </li>
    </ul>
  </section>

  <section>
    <h1>
      Política de privacidad
    </h1>

    <ul>
      <li>
        La compañía administrará cualquier información personal ingresada en el sitio por los usuarios como se describe
        en
        la Política de privacidad. Para obtener más información sobre dichas políticas, consulte la Política de
        privacidad
        del sitio.
      </li>
    </ul>
  </section>

  <section>
    <h1>
      Compras
    </h1>

    <ol>
      <li>
        El sitio puede utilizarse para comprar productos.
        Al realizar pedidos en el sitio, los usuarios acuerdan leer, estar de acuerdo y aceptar nuestra política de
        privacidad, así como todos los términos y condiciones contenidos en el acuerdo de usuario.
      </li>
      <li>
        Al realizar un pedido, los usuarios aceptan adherirse a los métodos estipulados por el sitio.
        Después de realizar un pedido, los usuarios recibirán un aviso de confirmación del pedido del sitio.
        Al realizar un pedido, los usuarios celebran un contrato legal con este sitio.
        Este contrato es vinculante hasta que los productos solicitados hayan sido entregados al transportista por parte
        de la empresa.
        Este contrato está sujeto a cancelación en cualquier momento a discreción del sitio.
      </li>
      <li>
        Se tomarán medidas legales u otras necesarias si se determina en cualquier momento, incluso después de que se
        haya
        completado un pedido, que el usuario ha violado los términos y condiciones de la empresa.
      </li>
      <li>
        La empresa no aceptará ninguna responsabilidad en ningún caso, incluida (sin limitación) negligencia por daños o
        pérdidas de cualquier tipo, incluidos (sin limitación) daños, gastos o pérdidas directos, indirectos,
        incidentales, especiales o consecuentes que surjan de o en relación con el uso o la imposibilidad de utilizar el
        sitio por parte del usuario, o en relación con cualquier error, omisión, defecto, virus informático, falla del
        sistema o en relación con el acceso, uso o rendimiento de la navegación en el sitio.
      </li>
    </ol>
  </section>

  <section>
    <h1>
      Precios
    </h1>
    <ol>
      <li>
        Se considera que todos los precios se establecen en el momento en que se realiza un pedido;
      </li>
      <li>
        El sitio se esfuerza por proporcionar solo información precisa; sin embargo, en caso de error en el precio, el
        pedido se modificará para reflejar el precio correcto;
      </li>
      <li>
        En caso de cambio de precio del fabricante, los pedidos afectados se modificarán para reflejar el nuevo precio.
      </li>
    </ol>
  </section>

  <section>
    <h1>
      Envío
    </h1>
    <ol>
      <li>
        Todos los gastos relacionados con el servicio de envío correrán a cargo del usuario. Todos los costos de envío y
        los servicios aplicables serán determinados por la empresa;
      </li>
      <li>
        Los usuarios aceptan ponerse en contacto con su oficina de correos local (no con la empresa) para cualquier
        cambio
        en la
        dirección de envío u otros detalles de entrega que se realizarán después de que se haya enviado un pedido;
      </li>
      <li>
        El sitio no acepta ninguna responsabilidad por cancelaciones de pedidos o artículos causadas por retrasos en el
        envío, disponibilidad del producto, etc.
      </li>
    </ol>
  </section>

  <section>
    <h1>
      Devoluciones
    </h1>
    <ol>
      <li>
        Si el producto está dañado o contiene defectos, el usuario se compromete a informar dichos defectos al sitio
        dentro de los 7 días posteriores a la recepción de la mercancía. Luego, el sitio determinará el mejor curso de
        acción a tomar. La empresa no proporcionará servicio para los informes recibidos después de que hayan
        transcurrido
        7 o más días desde la fecha de recepción de un pedido;
      </li>
      <li>
        Los usuarios aceptan seguir el proceso mencionado anteriormente y cumplir con los términos de servicio
        establecidos por la empresa
      </li>
    </ol>
  </section>

  <section>
    <h1>
      Responsabilidad del producto.
    </h1>
    <ol>
      <li>
        En caso de que no se pueda adquirir un producto, el sitio se reserva el derecho de cancelar cualquier pedido
        según
        sea necesario.
      </li>
      <li>
        La empresa enviará los productos a la dirección indicada por el usuario en el formulario de pedido
        correspondiente;
      </li>
      <li>
        El sitio hará todo lo posible para garantizar la precisión y la integridad de las descripciones de los
        productos,
        sin embargo, la empresa no acepta ninguna responsabilidad por inexactitudes o errores. Las descripciones
        actuales
        tienen prioridad sobre las mencionadas anteriormente;
      </li>
      <li>
        Bajo la ley, este sitio no acepta responsabilidad alguna por daño o pérdida de mercadería.
      </li>
    </ol>
  </section>

  <section>
    <h1>
      Información publicada en el sitio
    </h1>
    <ol>
      <li>
        No hay garantía con respecto a la exactitud, actualidad o usabilidad de la información publicada en el sitio;
      </li>
      <li>

        El sitio se reserva el derecho de agregar, alterar, eliminar, etc. cualquier información proporcionada en
        cualquier momento y sin previo aviso;
      </li>
      <li>
        El sitio no acepta ninguna responsabilidad por los daños sufridos por los usuarios como resultado de cualquier
        información que se agregue, altere o elimine de esta manera.
      </li>
    </ol>
  </section>

  <section>
    <h1>
      Interrupción o suspensión del servicio
    </h1>
    <ol>
      <li>
        El sitio se reserva el derecho de detener o descontinuar cualquiera y todos los servicios a discreción de la
        compañía sin previo aviso por cualquiera de las siguientes razones:
      </li>
    </ol>
    <ul>
      <li>
        (1) Problemas del sistema, actualizaciones del sistema, controles de seguridad o cualquier tipo de emergencia;
      </li>
      <li>
        (2) En caso de desastre natural o caso fortuito;
      </li>
      <li>
        (3) Problemas relacionados con los ISP u otros proveedores de comunicaciones;
      </li>
      <li>
        (4) Parada o interrupción del servicio debido a circunstancias tecnológicas, operativas o cualquier otra
        circunstancia imprevista.
      </li>
      <li>
        2. El sitio no acepta ninguna responsabilidad por los daños sufridos por los usuarios u otros terceros en caso
        de
        suspensión o cancelación del servicio.
      </li>
    </ul>
  </section>

  <section>
    <h1>
      Derechos de autor
    </h1>
    <ol>
      <li>
        Los usuarios no pueden infringir los derechos de autor, patentes, marcas comerciales, secretos comerciales u
        otros
        derechos de propiedad intelectual del sitio;
      </li>
      <li>
        Los usuarios no pueden infringir los derechos de autor, patentes, marcas comerciales, secretos comerciales u
        otros
        derechos de propiedad intelectual de terceros;
      </li>
      <li>
        Si este acuerdo es violado por un usuario, ese usuario acepta toda la responsabilidad, legal y financiera, y se
        compromete a no tomar ninguna acción que pueda interferir o dañar a la empresa de alguna manera.
      </li>
    </ol>
  </section>

  <section>
    <h1>
      Marcas registradas
    </h1>
    <ul>
      <li>
        “SHINSEKAI” y todos los logotipos relacionados con los servicios del sitio son marcas comerciales registradas de
        SHINSEKAI. Todos los demás nombres de productos y empresas que se encuentran en este sitio son marcas
        comerciales
        registradas. Los usuarios no pueden copiar, imitar o utilizar tales imágenes o logotipos sin el consentimiento
        previo por escrito.
      </li>
    </ul>
  </section>

  <section>
    <h1>
      Contacto
    </h1>
    <ol>
      <li>
        Todas las notificaciones a los usuarios sobre el uso del sitio se enviarán por correo electrónico o se
        publicarán
        en el sitio mismo;
      </li>
      <li>
        Los usuarios aceptan cumplir con cualquier actualización o contacto enviado por la empresa.
        Los usuarios aceptan que cualquier comunicación realizada con el sitio a través de los métodos enumerados
        anteriormente se puede utilizar en un tribunal de justicia.
      </li>
    </ol>
  </section>

  <app-footer></app-footer>
</div>
