<app-alert></app-alert>

<div class="container">
  <app-header [justLogo]="true"></app-header>

  <div class="row mb-5">
    <div class="col text-center">
      <h1>Regístrate</h1>
      <h2>¿Ya tienes una cuenta? <a (click)="navigateTo('login')">Iniciar Sesión</a></h2>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <form [formGroup]="form">
        <div class="group">
          <input formControlName="email" type="text" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Email</label>
          <small *ngIf="form.controls['email'].invalid && form.controls['email'].dirty" class="text-danger">
            El email no es valido
          </small>
        </div>

        <div class="group">
          <input (focus)="confirmEmailFocus()" formControlName="confirmEmail" type="text" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Ingresa tu email de nuevo</label>
          <small *ngIf="!emailMatch" class="text-danger">Tus correos no coinciden</small>
        </div>

        <div class="group">
          <input [maxLength]="50" max="50" formControlName="password" type="password" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Password</label>
          <small *ngIf="form.controls['password'].invalid && form.controls['password'].dirty" class="text-danger">
            La contraseña tiene que ser de al menos 8 caracteres,
            debe contener al menos una mayuscula, un numero, y un simbolo especial.
          </small>
        </div>

        <div class="group">
          <input (focus)="confirmPasswordFocus()" formControlName="confirmPassword" type="password" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Escribe tu contraseña de nuevo</label>
          <small *ngIf="!passwordMatch" class="text-danger">Tus contraseñas no coinciden</small>
        </div>

        <div class="options">
          <a (click)="navigateTo('recovery')">¿Olvidaste tu contraseña?</a>
          <br>
          <button (click)="submit()"
                  class="btn btn-outline-primary btn-lg rounded-pill"
                  [disabled]="this.form.invalid">
            Regístrate
          </button>
        </div>
      </form>

      <div class="info">
        <p>
          Al registrarte, aceptas nuestros <a (click)="navigateTo('conditions')">Términos de Uso</a> y
          recibir emails y novedades de SHINSEKAI y reconoces que has
          leído nuestra <a (click)="navigateTo('privacy')">Política de Privacidad</a>.
        </p>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
