div {
  bottom: 1rem;
  right: 1rem;
  position: absolute;
  z-index: 9999;
  transform: translateX(200%);
  transition: transform 0.5s;

  &.show {
    width: fit-content;
    transform: translateX(0);
  }
}
