<div [class.wrapper]="big">
  <div [class.big]="big" class="article-prev" (click)="emitArticleClick()">
    <div [class.big]="big" class="article-prev_image">
      <img [src]="image" alt="articulo">
    </div>

    <div [class.promo]="discountPrice > 0" class="article-prev_bar">
      <p [class.big]="big">{{discountPrice > 0 ? 'En Descuento' : 'Pre - Orden'}}</p>
    </div>

    <p [class.big]="big" class="article-prev_name">{{name}}</p>
    <span [class.big]="big" [class.disabled]="discountPrice <= 0"
          class="article-prev_price-original">{{price | currency}}</span>
    <p [class.big]=big class="article-prev_price">{{price - discountPrice | currency}}</p>
  </div>
</div>
