@import '../../../scss/variables/colors-theme-primary';

.article-prev {
  display: flex;
  flex-direction: column;
  width: 7rem;
  max-width: 7rem;
  min-width: 7rem;
  cursor: pointer;

  &.big {
    width: 12rem;
    max-width: 12rem;
    min-width: 12rem;
  }

  &_image {
    height: 7.5rem;
    width: 7.5rem;
    margin-bottom: 0.5rem;

    &.big {
      height: 12rem;
      width: 12rem;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  &_bar {
    background: $yellow;
    padding: 0.25rem;
    margin-bottom: 0.25rem;
    width: 100%;

    p {
      color: $gray;
      line-height: 1;
      font-weight: bold;
      font-size: 0.5rem;
      text-transform: uppercase;

      &.big {
        font-size: 0.875rem;
      }
    }

    &.promo {
      background: $color-secondary;

      p {
        color: $color-white;
      }
    }
  }

  &_price-original {
    text-decoration: line-through;
    font-size: 0.7rem;
    color: $dark;

    &.disabled {
      user-select: none;
      color: transparent;
    }
  }

  &_name {
    font-size: 0.6rem;
    color: $dark;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: fit-content;
    word-wrap: break-word;
    text-overflow: ellipsis;
    position: relative;
    visibility: visible;
    margin-bottom: 0.25rem;

    &.big {
      height: fit-content;
      font-size: 0.875rem;
    }
  }

  &_price {
    text-align: center;
    color: $color-primary;
    font-weight: bold;
    font-size: 0.875rem;

    &.big {
      font-size: 1rem;
    }
  }
}

.big {
  font-weight: bold;
}

.wrapper {
  padding: 0.5rem;
  border-radius: 0.25rem;
}
