<app-alert></app-alert>

<div class="container-fluid">
  <app-header [justLogo]="true"></app-header>

  <div class="row mb-5">
    <div class="col text-center">
      <h1>Iniciar Sesión</h1>
      <h2>¿No tienes una cuenta? <a (click)="navigateTo('signup')">Regístrate</a></h2>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <form [formGroup]="form">
        <div class="group">
          <input formControlName="email" type="text" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Email</label>
        </div>

        <div class="group">
          <input formControlName="password" type="password" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Password</label>
        </div>

        <div class="options">
          <a (click)="navigateTo('recovery')">¿Olvidaste tu contraseña?</a>
          <br>
          <button (click)="submit()"
                  class="btn btn-outline-primary btn-lg rounded-pill"
                  [disabled]="this.form.invalid">
            Iniciar Sesión
          </button>
        </div>
      </form>

      <div class="info">
        <p>
          Al registrarte, aceptas nuestros <a (click)="navigateTo('conditions')">Términos de Uso</a> y
          recibir emails y novedades de SHINSEKAI y reconoces que has
          leído nuestra <a (click)="navigateTo('privacy')">Política de Privacidad</a>.
        </p>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
