<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand">ADMIN PANEL</a>
      <ul class="navbar-nav mr-auto">
        <li *ngFor="let item of menuItems; let idx = index"
            class="nav-item"
            (click)="selectMenu(idx)">
          <a class="nav-link" [class.active]="currentMenu === menuItems[idx]">{{item}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<ng-container [ngSwitch]="currentMenu">
  <app-articles *ngSwitchCase="menuItems[0]"
                [articles]="articleResponse.response"
                [maxPage]="articleResponse.maxPage ? articleResponse.maxPage : 1"
                [search]="search"
                [page]="articleResponse.page ? articleResponse.page : 1"
                (articleRefresh)="getArticles($event)"
                (searchDetected)="saveSearch($event)"></app-articles>
  <app-users *ngSwitchCase="menuItems[1]"></app-users>
  <app-tags *ngSwitchCase="menuItems[5]"></app-tags>
  <h2 *ngSwitchDefault>null</h2>
</ng-container>
