<div *ngIf="!showModal" class="container">
  <app-header [user]="user"
              [showAdmin]="user?.admin"
              [accountText]="user?.id ? 'Mi Cuenta' : 'Inicia Sesión'">
  </app-header>

  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="images">
        <img (click)="openModal(0)" [src]="images[0].path" alt="main-image">
      </div>
      <div class="images_sub">
        <ng-container *ngFor="let image of images; let idx = index">
          <div class="images_sub_item" *ngIf="idx > 0">
            <img (click)="openModal(idx)" [src]="image.path" alt="sub-image">
          </div>
        </ng-container>
      </div>
    </div>

    <div class="col-12 col-lg-6">
      <h1 class="name">{{article?.name}}</h1>
      <p class="details">{{article?.details}}</p>

      <div class="original-replica">
        <div class="original-replica_original">
          <div (click)="navigateToOriginal()" [class.disabled]="!article.originalFlag" class="bar">
            Original
          </div>
          <span *ngIf="!article.originalFlag" class="disabled">{{original.price !== undefined
          && original.discountPrice !== undefined
            ? (original.price - original.discountPrice | currency) : '--'}}</span>
          <span *ngIf="article.originalFlag">
            {{article.price !== undefined
          && article.discountPrice !== undefined
            ? (article.price - article.discountPrice | currency) : '--'}}
          </span>
        </div>
        <div class="original-replica_replica">
          <div (click)="navigateToReplica()" [class.disabled]="article.originalFlag" class="bar">
            Replica
          </div>
          <span *ngIf="article.originalFlag" class="disabled">{{replica.price !== undefined
          && replica.discountPrice !== undefined
            ? (replica.price - replica.discountPrice | currency) : '--'}}</span>

          <span *ngIf="!article.originalFlag">
            {{article.price !== undefined
          && article.discountPrice !== undefined
            ? (article.price - article.discountPrice | currency) : '--'}}
          </span>
        </div>
      </div>
      <div class="options">
        <ng-container *ngIf="inStock">
          <div class="options_quantity">
            <span>Cantidad</span>
            <div class="options_quantity_select">
              <div (click)="modifyQuantity('less')" class="options_quantity_select_btn">
                -
              </div>
              <div class="options_quantity_select_number">
                {{article?.quantity}}
              </div>
              <div (click)="modifyQuantity('more')" class="options_quantity_select_btn">
                +
              </div>
            </div>
          </div>

          <div class="options_cart">
            <button class="btn rounded-pill btn-lg options_cart_btn">
              <i class="fas fa-shopping-cart"></i>
              Añadir al Carrito
            </button>
          </div>
        </ng-container>

        <ng-container *ngIf="!inStock">
          <p>SIN STOCK *</p>
        </ng-container>
      </div>
      <p class="info">En caso de escasez de existencias del fabricante, los articulos de pedido anticipado se ofreceran
        por orden de
        llegada.</p>
      <button (click)="saveToFavorite()" [disabled]="!user?.id" class="btn btn-lg w-100 favorite">
        <img class="sh-icon_sm" src="assets/icons/estrella.svg" alt="estrella">
        Añadir a favoritos
      </button>
      <button class="btn btn-lg w-50 share">
        <img class="sh-icon_sm" src="assets/icons/compartir.svg" alt="compartir">
        Compartir
      </button>
    </div>
  </div>

  <app-footer></app-footer>
</div>

<div class="custom-modal" [class.show]="showModal">
  <div class="custom-modal_header">
    <img (click)="closeModal()" src="assets/icons/cerrar-simbolo-de-boton-circular.svg" alt="close">
  </div>

  <div class="custom-modal_main">
    <div class="arrow">
      <i (click)="slide('left')" class="fas fa-caret-left"></i>
    </div>

    <div class="custom-modal_main_img">
      <img [src]="images[imageIndex].path" alt="figura shinsekai">
    </div>

    <div class="arrow">
      <i (click)="slide('right')" class="fas fa-caret-right"></i>
    </div>
  </div>

  <div class="custom-modal_sub">
    <div (click)="openModal(idx)" [class.selected]="imageIndex === idx" class="custom-modal_sub_item"
         *ngFor="let image of images; let idx = index">
      <img [src]="image.path" alt="figura shinsekai">
    </div>
  </div>
</div>
