@import 'src/scss/variables/colors-theme-primary';

.images {
  height: 36rem;
  margin-bottom: 1.5rem;
  cursor: pointer;

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  &_sub {
    display: flex;
    flex-wrap: wrap;

    &_item {
      cursor: pointer;
      height: auto;
      width: 4.5rem;
      margin: 1rem;

      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
  }
}

.original-replica {
  display: flex;
  margin-bottom: 2rem;

  &_original, &_replica {
    .bar {
      padding: 0.25rem 3.5rem 0.5rem 1rem;
      background: $yellow;
      color: $gray;
      cursor: context-menu;
      font-weight: 500;
      margin-bottom: 0.875rem;
      border-radius: 0.5rem;
      border: 1px solid $dark;
      line-height: 1;
      font-size: 1.25rem;
      user-select: none;

      &.disabled {
        background: $light;
        cursor: pointer;
      }
    }

    span {
      font-size: 2rem;
      color: $color-primary;
      font-weight: bold;

      &.disabled {
        color: $dark;
      }
    }
  }

  &_original {
    padding-right: 3rem;
    border-right: 1px solid $gray;
  }

  &_replica {
    padding-left: 3rem;
    border-left: 1px solid $gray;
  }
}

.name {
  margin-bottom: 1.5rem;
  color: $dark;
  font-weight: bold;
}

.details {
  color: $dark;
  font-size: 0.9rem;
  margin-bottom: 3rem;
}

.options {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;

  &_quantity {
    display: flex;
    align-items: center;

    span {
      color: $dark;
      margin-right: 1rem;
    }

    &_select {
      display: flex;
      align-items: center;

      &_btn {
        margin: 0 1rem;
        height: 1.75rem;
        cursor: pointer;
        line-height: 1;
        width: 1.75rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        background: $color-primary;
        color: $color-white;
        user-select: none;
        border-radius: 0.5rem;
      }

      &_number {
        user-select: none;
        font-weight: 600;
        font-size: 1.5rem;
        color: $gray;
      }
    }
  }

  &_cart {
    margin-left: 1.5rem;

    button {
      background: orange;
      color: white;
      font-size: 0.875rem;
    }
  }
}

.info {
  font-size: 0.875rem;
  color: $dark;
  margin-bottom: 1.5rem;
}

.share, .favorite {
  border: 1px solid $gray;
  background: $light;
  box-shadow: 1px 4px 2px $dark;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  margin-bottom: 1.5rem;
  font-weight: bold;
  color: $dark;

  img {
    margin-right: 1rem;
  }
}

.custom-modal {
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  background: white;
  z-index: 1000;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.5rem 3rem;
  transition: 0.5s;
  box-shadow: 1px 4px 2px $dark;

  &.show {
    display: flex;
  }

  &_header {
    width: 100%;
    position: fixed;
    display: flex;
    padding: 0 1.5rem;

    img {
      float: left;
      margin-left: auto;
      cursor: pointer;
      height: 3rem;
      width: 3rem;
      object-fit: contain;
    }
  }

  &_main {
    width: 100%;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .arrow {
      margin: 0 1.5rem;
      font-size: 3rem;
      cursor: pointer;
    }

    &_img {
      display: flex;
      justify-content: center;

      img {
        width: 36rem;
        height: auto;
        object-fit: cover;
      }
    }
  }

  &_sub {
    display: flex;
    flex-wrap: wrap;

    &_item {
      margin: 1rem;
      border: 1px solid $light;
      width: 3rem;
      height: 3rem;
      cursor: pointer;

      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }

      &.selected {
        border: 3px solid $color-primary;
      }
    }
  }
}

.modal-content {
  button {
    display: flex;
    align-items: center;

    i {
      font-size: 2rem;
    }
  }
}

@media only screen and (max-width: 850px) {

  .custom-modal {
    &_main {
      &_img {
        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }
    }
  }

}
