<div class="container">
  <app-header [justLogo]="true"></app-header>

  <div class="p-lg-5">
    <div class="header">
      <span class="text-danger">*</span>
      <p>Página de confirmación de orden</p>
    </div>

    <div class="content">
      <h2>Nombre y Dirección</h2>
      <ul>
        <li>{{user.name}}</li>
        <li>{{user.address}}</li>
        <li>{{user.city}}</li>
        <li>{{user.postalCode}}</li>
      </ul>
    </div>

    <div class="content">
      <h2>Figuras compradas</h2>
      <ul>
        <li *ngFor="let article of articles; let idx = index">
          <span>{{article.name}}<br>Cant.: {{article.quantity}}</span>
          <span *ngIf="idx === 0">{{totalAmount | currency}}</span>
        </li>
      </ul>
    </div>

    <div class="content">
      <h2>Confirmación</h2>
      <p>Número de Orden</p>
      <p><strong>{{purchaseId}}</strong></p>
    </div>
  </div>
</div>
