@import 'src/scss/variables/colors-theme-primary';

.categories {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 32rem;

  &_originals {
    margin-bottom: 0.875rem;
  }

  &_originals, &_replicas {
    height: 50%;

    img {
      cursor: pointer;
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}

.social {
  a {
    text-decoration: none;
    color: inherit;
  }

  &_facebook, &_instagram, &_youtube {
    border-radius: 0.25rem;
    user-select: none;
    cursor: pointer;
    padding: 1rem 1.5rem;
    box-shadow: 1px 4px 2px $dark;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &:active {
      box-shadow: none;
    }

    span {
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 600;
    }

    i {
      font-size: 1.875rem;
    }
  }

  &_facebook, &_youtube {
    color: white;

    i {
      color: white;
    }
  }

  &_facebook {
    background: $color-primary;
  }

  &_instagram {
    background: $light;
    margin: 1rem 0;
  }

  &_youtube {
    background: $color-secondary;
  }
}

.animes {
  width: 100%;

  &_item {
    display: flex;
    width: 100%;
    padding: 1.25rem 1.25rem 0;

    img {
      margin: 0 auto;
      cursor: pointer;
      border-radius: 1rem;
      height: auto;
      max-width: 260px;
      width: 100%;
      object-fit: contain;
    }

    &--left {
      padding: 2.25rem 2.25rem 0;

      img {
        max-width: 218px;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .animes {
    &_item {
      margin-bottom: 1rem;
    }
  }
}
