<div class="container-fluid">
  <app-header [justLogo]="true"></app-header>

  <div class="row mb-5">
    <div class="col text-center">
      <h1>Restablece tu contraseña</h1>
      <h2>Escribe y confirma tu nueva contraseña</h2>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <form [formGroup]="form">
        <div class="group">
          <input [maxLength]="50" max="50" formControlName="password" type="password" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Password</label>
          <small *ngIf="form.controls['password'].invalid && form.controls['password'].dirty" class="text-danger">
            La contraseña tiene que ser de al menos 8 caracteres,
            debe contener al menos una mayuscula, un numero, y un simbolo especial.
          </small>
        </div>

        <div class="group">
          <input (focus)="confirmPasswordFocus()" formControlName="confirmPassword" type="password" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Escribe tu contraseña de nuevo</label>
          <small *ngIf="!passwordMatch" class="text-danger">Tus contraseñas no coinciden</small>
        </div>

        <div class="options">
          <button (click)="submit()"
                  class="btn btn-outline-primary btn-lg rounded-pill"
                  [disabled]="this.form.invalid">
            Restablecer Contraseña
          </button>
        </div>
      </form>
    </div>
  </div>

  <app-footer></app-footer>
</div>
