$color-white: #fff;
$color-black: #000;
$color-primary: #DA5555;
$color-secondary: #C78283;
$color-terciary: #744253;
$color-cuaternary: #181d20;

$light: #999faa;
$dark: #383e56;
$gray: #2b304a;
$info: #6894F2;
$success: #8BD91F;
$warning: #FE9000;
$danger: #C5041A;
