$color-white: #fff;
$color-black: #000;
$color-primary: #1976D2;
$color-secondary: #E62121;
$color-terciary: #6097F5;
$color-cuaternary: #2A8FCE;

$light: #ececec;
$dark: #707070;
$gray: #2b304a;
$info: #6894F2;
$success: #8BD91F;
$warning: #FE9000;
$danger: #C5041A;
$blueish: #397EF3;
$yellow: yellow;
